@model EducationPartal.CoreMVC.ModelsView.BookViewModel

<div class="alert alert-secondary">
    <h3>
        <strong>Name: @Html.DisplayFor(m => m.Name)</strong></br>
        <strong>Type: Book</strong></br>
    </h3>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)
    <span class="lead">Author: @Html.DisplayFor(m => m.Author)</br></span>
    <span class="lead">Count of pages: @Html.DisplayFor(m => m.CountOfPages)</br></span>
    <span class="lead">@Html.CheckBoxFor(m => m.IsPassed)</span>
</div>